
html body{
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: black;
}

.container {
    width: 100%;
    height: 100%;
    font-size: 16px;
    display:flex;
    flex-flow: row wrap;
    padding: 5%;
}

.main-title {
position: relative;
top: 5%;
left: 15%;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 8vw;
line-height: 113px;
color: white;
line-height: 120%;
}


.box-container {
    position: relative;
    left: 55%;
    top: 5vh;
    display: flex;
    flex-flow: row wrap;
    min-height: 40vh;
    max-width: 70vh;
    align-content: flex-end;
    transform: skew(22.5deg);
}

.box{
width: 15vh;
height: 23vh;
background: white;

margin: 2vh;
}


.textbox-container{
    width: 40rem;
    height: 30rem;
    position: relative;
    margin: 10%;
    left: 20%;

}


.textbox{
    position: relative;
    background-color: black;
    width: 36rem;
    height: 26rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 1rem;
    text-align: left;
    color: white;


}

.edge-cover-left-bottom{



}

.edge-cover-right-top{


}



.textbox-container:hover {
    animation-name: shadow;
    animation-duration: 1ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.textbox-container:hover .edge-cover-left-bottom{
    width: 0;
height: 0;
border-style: solid;
border-width: 6.5rem 0 0 7rem;
    border-color: transparent transparent transparent black;
}

.textbox-container:hover .edge-cover-right-top{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2rem 1.5rem 0;
   
    z-index: 2;
    top:0;
    right: 0;
    border-color: transparent black transparent transparent;
}


@keyframes shadow {
    0%{
        background-image: black;
    }
    100%{
        background-image: repeating-linear-gradient(35.96deg, black , black 1rem, white 1rem, white 1.2rem);
    }
}

.shadow-container{
    overflow-y:auto;    overflow-x: hidden;
    max-width: 100vw;


}
.shadow-mask{
    top: -10rem;
    left: 30%;
    right: 30%;
    width: 100rem;
    height: 60rem;
    position: sticky;
    position: -webkit-sticky;
    transform: skew(80deg);
    background-color: white;
}

.shadow-text{
    top:-30rem;
    position: relative;
    color:black;
    width: 30rem;
    height: 80rem;
    margin-left: 30%;
    margin-top: 0%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 1rem;
}

.page-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.click{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 2rem;
    text-align: left;
    margin: 0%;
    color: white;
}

.next-box{
    width: 8rem;
    height: 10rem;
    background: white;
    transform: skew(22.5deg);
    right: 0%;
    }


@media (min-width:230px) and (max-width:1366px) {

    html body{
        width: 100%;
        height: 100%;
        font-size: 16px;
    }
    
    .container {
        width: 100vw;
        height: 100vh;
        font-size: 16px;
        display:flex;
        flex-flow: row wrap;
        padding: 5%;
    }
    
    .main-title {
    position: relative;
    top: 30vh;
    left: 15%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3vh;
    line-height: 113px;
    color: #000000;
    line-height: 120%;
    }
    
    
    .box-container {
        position: relative;
        left: 40vw;
        top: 20vh;
        display: flex;
        flex-flow: row wrap;
        width: 40vw;
        height: 20vh; 
        align-content: flex-end;
        transform: skew(22.5deg);
    }
    
    .box{
    width: 8vw;
    height: 8vh;
    background: white;
    margin: 1vh;
    }
    
    
    .textbox-container{
        width: 85vw;
        height: 170vw;
        position: relative;
        margin-left: -10%;
        margin-right: 0;
        margin-bottom: 5%;
    
    }
    
    .textbox-container.long{
        width: 85vw;
        height: 210vw;
        position: relative;
        margin-left: -10%;
        margin-right: 0;
        margin-bottom: 5%;
    
    }
    
    .textbox{
        position: relative;
        background-color: black;
        width: 80vw;
        height: 200vw;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-size: 4vw;
        text-align: left;
        color:white;
    
    }
    

    .edge-cover-left-bottom{
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.5rem 0 0 7rem;
    border-color: transparent transparent transparent black;
    }
    
    .edge-cover-right-top{
        display: none;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 2rem 1.5rem 0;
        z-index: 2;
        top:0;
        right: 0;
        border-color: transparent black transparent transparent;
    }
    
    
    
    .textbox-container:hover {
        animation-name: shadow;
        animation-duration: 1ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }


    
    
    @keyframes shadow {
        0%{
            background-image: black;
        }
        100%{
            background-image: repeating-linear-gradient(35.96deg, black , black 1rem, white 1rem, white 1.2rem);
        }
    }

    
    .shadow-container{
        overflow-y:auto;    overflow-x: hidden;
        max-width: 100vw;
        display: none;    
    }

    .shadow-mask{
        margin-top:30vh;
        top: 20;
        margin-left: 20vw;
        width: 100vw;
        height: 200vh;
        position: sticky;
        position: -webkit-sticky;
        position: -moz-sticky;
        transform: skew(10deg);
        background-color: white;
    }
    
    .shadow-text{
        top: -150vh;
        position: relative;
        color:black;
        width: 70vw;
        height: 100vh;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-size: 4vw;
        margin-bottom: 100vh;
    }

    
    .page-container{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }
    
    .click{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-size: 2rem;
        text-align: left;
        margin: 0%;
        color:white;
    }
    
    .next-box{
        width: 8rem;
        height: 10rem;
        background: white;
        transform: skew(22.5deg);
        right: 0%;
        }
    

}